.tree-title {
  .mat-form-field-infix {
    border-top: 0;
  }
}

.start-date, .end-date {
  mat-form-field {
    width: 120px;
  }

  .mat-form-field-infix {
    width: 120px;
  }

  .material-icons {
    direction: rtl;
    position: relative;
    top: 6px;
    left: -2px;
  }

  .mat-form-field-wrapper {
    margin-right: 12px;
  }
}
