<div id="body" class="mind-map">
  <div id="toolbar">
    <button onclick="createNew(); return false;">New</button>
    <button onclick="loadFreeMind('test.mm'); return false;">FreeMind (test.mm)</button>
    <button onclick="loadJSON('flare.json'); return false;">Flare (flare.json)</button>
    <button onclick="loadJSON('data.json'); return false;">JSON (test.json)</button>
    <button onclick="addNodes('right'); return false;">Add nodes right</button>
    <button onclick="addNodes('left'); return false;">Add nodes left</button>
    <button onclick="moveNodes('right', 'left'); return false;">Move right to left</button>
    <button onclick="moveNodes('left', 'right'); return false;">Move left to right</button>
    <button onclick="setConnector('diagonal'); return false;">Diagonal connector</button>
    <button onclick="setConnector('elbow'); return false;">Elbow connector</button>
  </div>
  <div id="footer">[Enter] Change name, [Left] Move select left, [Right] Move selection right, [Up] Move selection up, [Down] Move selection down, [Ins] Add new node,  [Del] Delete selected node</div>
</div>
