<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item routerLink="/help">Help</button>
</mat-menu>

<nav class="nav-bar">
  <button mat-menu-item routerLinkActive="active-link" routerLink="/home">日程</button>
  <button mat-menu-item routerLinkActive="active-link" routerLink="/vision">远景</button>
  <button mat-menu-item routerLinkActive="active-link" routerLink="/positioning">定位</button>
  <button mat-menu-item routerLinkActive="active-link" routerLink="/personas">用户</button>
  <button mat-menu-item routerLinkActive="active-link" routerLink="/business">业务架构</button>
  <button mat-menu-item routerLinkActive="active-link" routerLink="/technical">技术架构</button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <a mat-icon-button
     href="https://github.com/phodal/inception" aria-label="GitHub Repository">
    GitHub
  </a>
</nav>

<div [@routeAnimations]="getRouteAnimation()">
  <router-outlet></router-outlet>
</div>
