<div>
  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [dayStartHour]="8"
    [dayEndHour]="20"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<h3>
  Edit events
  <button class="btn btn-primary pull-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          placeholder="Not set"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          placeholder="Not set"
        />
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteEvent(event)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
