<h2>Works</h2>
<div fxLayout="row" fxLayout.xs="column" class="item-list">
  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Discover</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card" routerLink="/inception/schedule">
    <mat-card-title>Inception</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        Go Ahead.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Delivery</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Maintain</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Evolution</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<h2>Learn</h2>

<h2>Fun</h2>
