<h2>Works</h2>
<div fxLayout="row" fxLayout.xs="column" class="item-list">
  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Discover</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card" routerLink="/inception/schedule">
    <mat-card-title>Inception</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        Go Ahead.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Delivery</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Maintain</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Evolution</mat-card-title>
    <mat-card-subtitle>Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<h2>Personal</h2>
<div fxLayout="row" fxLayout.xs="column" class="item-list">
  <mat-card fxFlex="33" class="example-card" routerLink="/personal-development-plan">
    <mat-card-title>PDP</mat-card-title>
    <mat-card-subtitle>Personal Development Plan</mat-card-subtitle>
    <mat-card-content>
      <p>
        Goooooooooooooooooooo
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Tech Lead</mat-card-title>
    <mat-card-subtitle>Path to Tech Lead</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<h2>Performance</h2>
<div fxLayout="row" fxLayout.xs="column" class="item-list">
  <mat-card fxFlex="33" class="example-card">
    <mat-card-title>Time Management</mat-card-title>
    <mat-card-subtitle>Time Management</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="33" class="example-card" routerLink="/knowledge-management">
    <mat-card-title>Knowledge Management</mat-card-title>
    <mat-card-subtitle>My Tools</mat-card-subtitle>
    <mat-card-content>
      <p>
        TBD.
      </p>
    </mat-card-content>
  </mat-card>
</div>
