<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="reviewGroupForm">
    <form [formGroup]="reviewGroupForm">
      <ng-template matStepLabel>回顾（REVIEW）</ng-template>
      <app-review-timeline [(form)]="reviewGroupForm"></app-review-timeline>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>定义（DEFINE）</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>表达（ARTICULATE）</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>试验（Mini Launch）</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>寻觅（SCAN）</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>运行（Launch）</ng-template>
  </mat-step>
</mat-horizontal-stepper>
