<div class="markdown-editor-container">
  <div class="editor">
    <textarea class="markdown-task-editor"></textarea>
  </div>
  <div class="preview">
    <mat-form-field>
      <mat-label>Render Type</mat-label>
      <mat-select [(value)]="displayType">
        <mat-option value="todo">Todo</mat-option>
        <mat-option value="mindmap">Mind Map</mat-option>
      </mat-select>
    </mat-form-field>

    <component-markdown-task-render
      *ngIf="displayType === 'todo'"
      [(ngModel)]="value"
      (ngModelChange)="updateModel($event)">

    </component-markdown-task-render>
    <div *ngIf="displayType === 'mindmap'">
      <component-mindmap
        [(ngModel)]="value"
        (ngModelChange)="updateModel($event)"></component-mindmap>
    </div>
  </div>
</div>
