<ul *ngFor="let task of list">
  <li *ngIf="task.item">
    <mat-checkbox class="example-margin" [(ngModel)]="task.item.completed" (change)="checkValue()"></mat-checkbox>

    <span class="priority" *ngIf="task.item.priority">{{task.item.priority}} </span>
    <span class="start-date" *ngIf="task.item.startDate">{{task.item.startDate}} </span>
    <span class="end-date" *ngIf="task.item.endDate">{{task.item.endDate}} </span>
    {{task.item.text}}
    <span class="context" *ngIf="task.item.context">{{task.item.context}} </span>
    <span class="tag" *ngIf="task.item.tag">{{task.item.tag}} </span>
  </li>
  <ul *ngIf="task.lists">
    <component-markdown-task-item ngDefaultControl [(ngModel)]="task.lists" (ngModelChange)="checkValue()"></component-markdown-task-item>
  </ul>
</ul>
