<div class="example-boundary">
  <div *ngFor="let tile of tiles" cdkDropList>
    <editable-section
      [(ngModel)]="tile"
      [backgroundColors]="['#2ecc71', '#3498db', '#e74c3c']"
      [showCommands]="false"
      (ngModelChange)="contentChanged($event)">
    </editable-section>
  </div>
</div>

<eco-fab-speed-dial class="fab-dial">
  <eco-fab-speed-dial-trigger>
    <button mat-fab>
      <mat-icon>menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab (click)="createNewTile()">
      <mat-icon>add</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
