<div class="example-boundary">
  <div class="example-box"
       cdkDragBoundary=".example-boundary"
       cdkDrag
       #item
       (cdkDragEnded)="dragEnd($event)"
       [style.top.px]="initialPosition.y"
       [style.left.px]="initialPosition.x"
  >

  </div>

  <editable-section
    [editable]="true"
    [(ngModel)]="tile.tile"
    [divStyle]="{ width: '200px', height: '100px', padding: '5px' }"
    [backgroundColors]="['#2ecc71', '#3498db', '#e74c3c']"
    [showCommands]="false">
  </editable-section>
</div>
