:host {
  width: 100%;
  text-align:center;
  margin: 0 auto;
}

.nav-bar {
  display:flex;
  flex-flow: row nowrap;

}

a {
  flex:0 0 auto;
  padding: 12px 0;
  width: 14%;
}

.active-link {
  background-color: #ccc;
}

.github {
  svg {
    top: 8px;
    position: relative;
    margin-right: 4px;
  }
}
