.nav-bar {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 12px 0;
}

.active-link {
  background-color: #ccc;
}

.github {
  svg {
    top: 8px;
    position: relative;
    margin-right: 4px;
  }
}
