::ng-deep {
  .CodeMirror, .CodeMirror-scroll {
    height: calc(100vh - 100px);
  }
}

.markdown-editor-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;

  .editor {
    flex: 1;
    padding: 1rem;
  }

  .preview {
    background-color: #ccc;
    flex: 1;
    padding: 1rem;
  }
}

.preview ::ng-deep {
  ul, li, a {
    line-height: 1;
  }
}
